
{% include "base.html" %}
<!-- {% include "navigation.html" %} -->




{% block content %}
  
{% if error == "no" %}
    <script>
        alert("record added successfully ");
        window.location = "{% url 'view_land' %}";
    </script>
{% endif %}

{% if error == "yes" %}
    <script>
        alert("record not added! try again");
    </script>
{% endif %}


<div class="container">
    <h2 class="text-center">Add Land</h2>
    <form method="POST">
        {% csrf_token %}
        

        <label>name:</label>
        <input type="text" class="form-control" name="name">

        <label>Location:</label>
        <select name="location" class="form-control">
            {% for l in location %}
                <option value="{{ l.location }}">{{ l.location }}</option>
            {% endfor %}
        </select>

       

        <label>Initial Value</label>
        <input type="number" class="form-control" name="i_value">



        <input type="submit" value="submit" class="form-control btn btn-primary">

    </form>
</div>

{% endblock content %}